.cart-view {
  font-family: "Montserrat", sans-serif;
  background-color: #f4f4f4;
  padding-top: 40px;
  padding-bottom: 40px;
  /* subtrac height navbar and footer */
  min-height: calc(100vh - 280px);
}

.cart-view .cart-view-item {
  margin: 25px 0px;
  padding: 20px 10px;
}

.cart-view img {
  width: 130px;
}

.cart-view .information-item-cart-view h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 500;
  color: #242424;
  font-weight: 500;
}

.cart-view p,
.cart-view span {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.cart-view a {
  color: #ffb52f;
  font-weight: bold;
  text-decoration: none;
}

.cart-view .price {
  text-align: right;
}

.cart-view .real-price {
  font-size: 0.9rem;
}

.cart-view .actions-input {
  display: flex;
  justify-content: center;
}

.cart-view .actions-input input {
  width: 35px;
  border: none;
  background-color: #ededed;
  padding: 5px;
  text-align: center;
}

.cart-view .actions-input button {
  color: black;
  outline: none;
  border: none;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.cart-view .actions-input button:hover {
  background-color: #ffb52f;
  color: #fff;
}

/* .cart-view .button-increment {
  border-radius: 0px 7px 7px 0px;
}

.cart-view .button-decrement {
  border-radius: 7px 0px 0px 7px;
} */

.cart-view .price-discount {
  font-weight: 600;
}

.cart-view .percent-discount {
  font-weight: 600;
  color: #ffb52f;
  margin-top: 10px;
}

.cart-view .action span {
  margin-right: 8px;
  color: #ffb52f;
  font-weight: 500;
}

.cart-view .action .delete {
  padding: 5px 14px;
  color: black;
  border: 1px solid #fe3834;
}

.cart-view .action .delete:hover {
  background-color: #fe3834;
  color: white;
}

.cart-view .right-afix {
  background-color: #ffffff;
  margin: 0px 10px;
  padding: 20px 10px;
  position: sticky;
  top: 0;
}

.cart-view .box-style.fee {
  padding: 10px 0px;
}

.cart-view .box-style.fee p span {
  font-size: 0.9rem !important;
}

.cart-view .box-style.fee p span:nth-child(2) {
  float: right;
}

.cart-view .box-style.fee .paymen-sum {
  color: #fe3834;
  font-size: 1rem !important;
  font-weight: bold;
}

.cart-view .button-checkout {
  padding: 10px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  background-color: #fe3834;
  border: none;
  outline: none;
  margin-top: 20px;
  cursor: pointer;
}

.cart-view .input-price {
  font-family: "Muli", sans-serif;
  font-weight: bold;
}

@media only screen and (max-width: 1280px) {
  .cart-view .price {
    text-align: left;
    margin: 10px 0px;
  }
  .cart-view .information-item-cart-view h3 {
    font-size: 1.2rem;
  }
  .cart-view p,
  .cart-view span {
    font-size: 1rem;
  }
  .cart-view .actions-input button {
    padding: 10px 20px;
  }
  .right-afix {
    position: static;
    width: 100%;
    margin: 0px !important;
  }
  .price-discount::before {
    content: "Giá: ";
  }
  .real-price::before {
    content: "Giá gốc: ";
  }
  .percent-discount::before {
    content: "Giảm: ";
  }
}

@media only screen and (max-width: 960px) {
  .img-cart-view {
    margin: auto;
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  .cart-view p,
  .cart-view span {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 0.8rem;
  }
  .cart-view .information-item-cart-view h3 {
    font-size: 1rem;
  }
}
