.wrap-header {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #fff;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.04);
  position: relative;
  padding: 30px;
}

.header .navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  background-color: var(--secondary-bg);
  padding: 20px;
  margin: 0;
  justify-content: space-between;
}

.header .navbar .nav-item .nav-link {
  margin: 10px;
  text-decoration: none;
}

.header .navbar .nav-item .nav-link .nav-text {
  color: #bdbdbd;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.header .right-side {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .login-form-button {
  padding: 15px;
  border: 1px solid #111111;
}

.cart-box {
  font-weight: bold;
  font-size: 1.3rem !important;
  background-color: var(--primary-bg);
  display: flex;
  font-family: "Roboto Condensed", sans-serif;
  color: #2f2f2f;
  padding: 15px;
}

.cart-box .pricing {
  margin-left: 8px;
}
