.layout-2 {
  font-family: "Roboto Condensed", sans-serif;
}

.layout-2 .navbar {
  display: flex;
  list-style: none;
  background-color: #ffffff;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
  height: 5rem;
  padding: 0px 20px;
  width: 70%;
  margin: auto;
}

.layout-2 nav .logo {
  font-size: 2rem;
  text-align: center;
}

.layout-2 .navbar .navitem.logo {
  font-weight: bold;
  flex-grow: 4;
}

.layout-2 .navbar .navitem.logo a {
  font-family: "Megrim", cursive !important;
}

.layout-2 .navbar .navitem {
  padding: 28px 0px;
  text-align: center;
  flex-grow: 1;
}

.layout-2 .navbar .navitem.active {
  border-bottom: 4px solid #2f80ed;
}

.layout-2 .navbar .navitem.active .navlink {
  color: #111111;
}

.layout-2 .navbar .navlink {
  text-decoration: none;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout-2 .checkout-cart-view-information .group-color {
  display: flex;
  flex-wrap: wrap;
}

.layout-2 .checkout-cart-view-information .group-color .color {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #2f80ed;
  margin-right: 5px;
  border: 3px solid red;
}

.layout-2 .checkout-cart-view-information .wrap-image {
  width: 100%;
}

.layout-2 .checkout-cart-view-information .car-img {
  padding: 5px;
}

.layout-2 .checkout-cart-view-information .variatation {
  padding: 10px 40px;
}

.layout-2 .checkout-cart-view-information .wrap-image img {
  width: 100%;
  margin: auto;
  max-width: 1441px;
  height: 80%;
  /* animation-name: rotateYImage;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: both; */
}

.layout-2 .checkout-cart-view-information .select-color {
  font-size: 1.5rem;
}

.layout-2 .checkout-cart-view-information .small-info {
  display: flex;
  justify-content: center;
  margin: 0px;
  flex-wrap: wrap;
}

.layout-2 .checkout-cart-view-information .small-info .info {
  margin: 10px 4rem;
  text-align: center;
}

.layout-2 .checkout-cart-view-information .small-info .info .number {
  font-size: 2.5rem;
  font-weight: 400;
  color: #111111;
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
}

.layout-2 .checkout-cart-view-information .small-info .info .desc {
  color: #666;
  letter-spacing: 1px;
}

.layout-2 .input-text {
  padding: 12px 18px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  width: 100%;
  background-color: #ffffff;
  font-size: 1.1rem;
  font-family: "Roboto Condensed", sans-serif;
}

.InputContainer .InputElement {
  padding: 12px 18px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  width: 100%;
  background-color: #ffffff;
  font-size: 1.1rem;
  font-family: "Roboto Condensed", sans-serif;
}

.layout-2 .checkout-payment {
  padding: 20px;
}

.layout-2 .form-control {
  margin-right: 20px;
  margin-bottom: 45px;
}

.layout-2 .form-control .label {
  color: #666;
  font-weight: bold;
}

.layout-2 h2 {
  font-size: 1.8rem;
}

.layout-2 hr {
  border: 1px solid #999;
  border-bottom: none;
  margin: 70px 0px;
}

.layout-2 .tip {
  font-size: 0.9rem;
  color: #777;
}

.layout-2 .form {
  padding: 0px 30px;
}

.layout-2 .summary {
  padding: 5px 15px;
}

.layout-2 .summary img {
  width: 450px;
  display: block;
  margin: auto;
}

/* .layout-2 h3 {
  font-size: 1.5rem;
  text-align: center;
} */

.layout-2 h4 {
  font-size: 1.4rem;
  text-align: center;
}

.layout-2 .summary .info div {
  margin: 10px 0px;
  display: flex;
}

.layout-2 .summary .info div span,
.layout-2 .more-info-item span {
  color: #333;
  font-size: 1rem;
}

.layout-2 .summary .info div span:nth-child(2),
.layout-2 .more-info-item span:nth-child(2) {
  margin-left: auto;
  font-weight: bold;
}

.layout-2 .summary .info p::before {
  content: "+ ";
}

.layout-2 .more-info {
  height: 0px;
  overflow: hidden;
  transition: height 1s;
}

.layout-2 .more-info.active {
  height: 150px;
}

.layout-2 .more-info .more-info-item {
  display: flex;
  margin: 10px 0px;
}

.layout-2 .small-tip {
  font-size: 0.9rem;
}

a {
  color: #2f80ed;
  font-weight: bold;
  text-decoration: none;
}

.layout-2 .button-next {
  width: 100%;
  color: #ffffff;
  background-color: #2f80ed;
  padding: 9px 10px;
  border: none;
  outline: none;
  font-family: "Roboto Condensed", sans-serif;
  margin: 20px 0px;
}

.layout-2 .color-dot-group {
  flex-grow: 1;
}

.layout-2 .error {
  color: red !important;
  font-size: 0.8rem !important;
  padding: 0;
  font-weight: bold;
}

.layout-2 .checkout-finance-options {
  padding: 10px;
}

.layout-2 .checkout-cart-view-information .info div {
  margin-top: 8px;
}

.layout-2 .checkout-cart-view-information .info div span {
  color: #333;
  font-size: 1rem;
}

.layout-2 .checkout-cart-view-information .info div span:nth-child(2) {
  float: right;
  font-weight: bold;
  color: #111111;
}

.layout-2 .price-container {
  padding: 20px;
}

.layout-2 .price-container img {
  width: 100%;
}

.layout-2 .control-container {
  /* padding-top: 120px; */
}

.layout-2 .MuiOutlinedInput-root {
  width: 100% !important;
}

.layout-2 .title {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 20px;
  margin-top: 10px;
}

.layout-2 .control-container p {
  font-size: 2rem;
  color: #666;
  font-weight: bold;
}

.layout-2 .small-info {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.layout-2 .small-info .info-item .title {
  font-size: 1.8rem;
}

.layout-2 .small-info .info-item .number {
  font-size: 1.5rem;
  color: #444;
}

.layout-2 .check-login {
  padding: 2% 14%;
}

.layout-2 .MuiAlert-root {
  padding: 30px;
}

.layout-2 .MuiButton-containedPrimary {
  background-color: #2f80ed !important;
  font-weight: bold;
}

.layout-2 .waring-description {
  font-size: 1.1rem;
}

.layout-2 .infomation-checkout-page {
  padding: 10px;
}

.layout-2 .wrap-card {
  border: 2px solid #2f80ed;
  padding: 10px;
  margin: 30px 0px;
}

.layout-2 .infomation-checkout-page .MuiGrid-container {
  margin: 15px;
}

.layout-2 table img {
  max-width: 100px;
  min-width: 100px;
  height: 100px;
}

.layout-2 .MuiTableCell-head {
  font-weight: bold;
  font-size: 1.1rem;
  font-family: "Roboto Condensed", sans-serif !important;
  letter-spacing: 1px;
}

.layout-2 table tr {
  font-family: "Roboto Condensed", sans-serif !important;
}

.layout-2 .ElementsApp input {
  font-size: 1.2rem !important;
}

@media only screen and (max-width: 1000px) {
  .layout-2 .checkout-payment .form {
    width: 100%;
  }
  .layout-2 .navbar {
    justify-content: center;
    width: 100%;
  }
  img {
    width: 100% !important;
  }
  .layout-2 .logo img {
    max-width: 200px !important;
  }
  .layout-2 .form {
    padding: 0px;
  }
  .layout-2 .checkout-payment {
    padding: 12px;
  }
  .layout-2 .input-text {
    padding: 8px 16px;
  }
  .layout-2 .MuiAlert-message {
    width: 100%;
  }
  .layout-2 .MuiButton-containedPrimary {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .layout-2 .form-control {
    margin-bottom: 0px;
  }

  .layout-2 .navbar .navitem:nth-child(1) {
    flex-grow: 1;
  }

  .layout-2 .logo img {
    width: 200px !important;
  }

  .layout-2 .navbar {
    justify-content: center;
    width: 100%;
  }

  .layout-2 .navbar .navtext {
    display: none;
  }

  .layout-2 .check-login {
    padding: 10px;
    margin-top: 30px;
  }

  .layout-2 .MuiAlert-root {
    padding: 10px;
  }
}
