.product-detail-page {
  font-family: "Muli", sans-serif;
}

/* Carousel */
.product-detail-page .image-preview-container {
  margin-top: 50px;
}

.product-detail-page .image-preview-container .img-preview {
  width: 100%;
  opacity: 0.5;
  transition: 0.3s;
}

.product-detail-page .image-preview-container .img-preview.hightlight {
  opacity: 1;
}

/* Detail Content */
.product-detail-page .product-detail-content {
  margin-top: 50px;
  padding-left: 80px;
  position: relative;
}

.product-detail-page .product-detail-content .wrap {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(29, 31, 89, 0.1);
  max-width: 400px;
}

.product-detail-page .product-detail-content::after {
  background-image: url("https://codelearnstorage.s3.amazonaws.com/Themes/TheCodeCampPro/Resources/Images/landing-v2/head-right-bg.png");
  content: "";
  height: 35vw;
  width: 35vw;
  position: absolute;
  top: -20px;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.product-detail-page .product-detail-content h2 {
  color: #353535;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  line-height: 2rem;
}

.product-detail-page .product-detail-content .price {
  font-size: 1rem;
  margin-top: 8px;
  margin-left: 5px;
  display: block;
}

.product-detail-page .product-detail-content .quick-view-rating {
  display: flex;
  align-items: center;
}

.product-detail-page .product-detail-content .quick-view-rating p {
  font-size: 14px;
  font-style: normal;
  color: #333333;
}

.product-detail-page .product-price {
  margin: 2rem auto;
  font-family: "Courier New", Courier, monospace;
}

.product-detail-page .product-price span {
  color: #ffb52f;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  margin-top: 2px;
  display: inline-block;
}

.product-detail-page .product-overview {
  margin-bottom: 15px;
}

.product-detail-page .product-overview p {
  margin-bottom: 5px;
}

.product-detail-page .product-price span.un-hightlight {
  text-decoration: line-through;
  opacity: 0.5;
  margin: auto 15px;
  font-size: 1.4rem;
}

.product-detail-page .product-detail-content .sub-title {
  color: #333;
  display: block;
  font-size: 1.2rem;
  letter-spacing: 0.3px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  position: relative;
}

.product-detail-page .product-detail-content .sub-title::before {
  background-color: #9d9d9d;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 30px;
}

.product-detail-page .product-detail-content .product-color {
  margin: 31px 0 35px;
}
.color-container {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}

.color-container .color {
  margin: 5px;
  position: relative;
}

.color-container .color.out-of-stock::after {
  content: "Out of stock";
  position: absolute;
  /* top: 100%; */
  width: 90px;
  top: 12px;
  text-align: center;
  left: 30%;
  transform: translateX(-45%) rotate(-42deg);
  font-size: 0.7rem;
  clip-path: polygon(100% 0, 89% 50%, 100% 100%, 0 100%, 10% 50%, 0 0);
  font-weight: bold;
  color: #111111;
  background-color: #ffb52f;
}

.color-container .out {
  /* cursor: pointer; */
  height: 1.75rem;
  width: 1.75rem;
  /* transition: 0.1s; */
  margin: 5px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.color-container .color .out.bg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.color-container .color.active .out.bg {
  animation: boom 0.5s ease 0s infinite forwards;
  box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.319);
}

.color-container .color .out.bg:hover {
  animation: boom 0.5s ease 0s 1 forwards;
}

@keyframes boom {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.color-container .out:hover {
  /* transform: scale(1.25); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.319), 0 6px 20px rgba(0, 0, 0, 0.299);
}
.color-container .out span {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.color-container .out span.half-width {
  width: 50%;
}

.product-detail-page .product-detail-content .product-action {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5px;
  height: 50px;
}

.product-detail-page .product-detail-content .product-action .btn-add-to-cart {
  background-color: #ffb52f;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  height: 100%;
  line-height: 18px;
  padding: 0 33px;
  text-transform: uppercase;
  border: 1px solid #cccccc;
  border-right: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out 0s;
}

.product-detail-page .product-detail-content .product-action .btn-add-to-cart:hover,
.product-detail-page .product-detail-content .product-action .btn-wish-list:hover {
  color: white;
  background-color: #001232;
}

.product-detail-page .product-detail-content .product-action .btn-wish-list {
  border: 1px solid #dddddd;
  border-left: none;
  color: #727272;
  padding: 7px 18px 5px;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
}

.product-detail-page .product-detail-content .product-action .btn-wish-list.active {
  background-color: #001232;
}

.product-detail-page
  .product-detail-content
  .product-action
  .btn-wish-list.active
  .MuiSvgIcon-root {
  color: rgb(228, 32, 32);
}

.product-detail-page .title {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.product-detail-page .specifications .row {
  padding: 10px 0 10px 0;
  border-bottom: 2px solid #555;
}

.product-detail-page .specifications .column {
  width: 50%;
}
.product-detail-page .specifications .column.left {
  text-align: left;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.product-detail-page .specifications .column.right {
  text-align: right;
  font-weight: bold;
  color: #555;
  font-size: 0.8rem;
}

.product-detail-page .wrap-comment {
  text-align: center;
}

.product-detail-page .rating {
  margin-bottom: 5px;
}

.product-detail-page .rating span {
  font-size: 1.5rem;
}

.product-detail-page .star-rating {
  margin: 15px;
}

.product-detail-page .star-rating {
  font-size: 1.5rem;
}

/* Detail - markdown */
.product-detail-page .markdown-container {
  width: 100%;
  background-color: #ffffff;
  padding: 20px 20px;
  line-height: 1.6rem;
  font-size: 0.9 rem;
  color: #111;
  border: 1px solid #dfdfdf;
  margin: 25px 0px;
}

/* Comments */
.comment-container {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
}

.comment-user-avatar {
  display: block;
  float: left;
  width: 44px;
  height: 44px;
  background-size: 100% 100%;
  background-color: #ffffff;
}

.comment-user-avatar img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.comment-body {
  color: black;
  float: left;
  background-color: #ffffff;
  padding: 20px 25px;
  width: calc(100% - 44px);
  flex-grow: 1;
  margin-left: 10px;
  border: 1px solid #dfdfdf;
}

p.comment-title {
  margin-bottom: 0;
}

p.comment-title b {
  color: #555;
  font-size: 1.2rem;
}

p.comment-title small {
  font-style: italic;
  float: right;
  font-weight: bold;
  font-size: 0.8rem;
}

.clearFloat {
  clear: both;
}

/* More */
.warning-notfound-productdetail {
  width: 100%;
  height: 50vh;
  text-align: center;
  line-height: 50vh;
  color: red;
}

.product-detail-page .input-comment {
  width: 100%;
  min-height: 120px;
  resize: none;
  outline: none;
  padding: 10px;
}

.product-detail-page .btn-submit-comment {
  padding: 10px 15px;
  font-weight: bold;
  background-color: #333;
  color: #ffffff;
  border: none;
  margin-bottom: 25px;
  cursor: pointer;
}

.product-detail-page .btn-submit-comment:hover {
  background-color: #001232;
}

.custom-modal .content-fom {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  background-color: #ffffff;
  padding: 20px;
}

.custom-modal .content-fom textarea {
  width: 100%;
  padding: 20px;
  font-size: 0.9rem;
  outline: none;
  resize: none;
}

@media only screen and (max-width: 960px) {
  .product-detail-content {
    margin-top: 0px !important;
    padding-left: 0px !important;
    width: 100% !important;
  }

  .product-detail-content .wrap {
    width: 100% !important;
    margin: 0 !important;
  }
  .product-detail-content::after {
    display: none;
  }

  .product-detail-page .btn-add-to-cart {
    width: 100%;
  }

  .product-detail-page .btn-wish-list {
    flex-grow: 1;
  }

  .comment-body {
    padding: 15px;
  }

  .comment-body .comment-title {
    display: flex;
    flex-direction: column;
  }
}
