.product-item-style-list {
  margin: 15px;
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
  box-shadow: 0 2px 8px 0.5px rgba(0, 0, 0, 0.22);
}

.product-item-style-list .img-cover {
  position: relative;
}

.product-item-style-list img {
  width: 100%;
  height: auto;
  max-width: 350px;
}

.product-item-style-list .top-intro {
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #9b9b9b;
  font-size: 0.9rem;
  font-weight: bold;
}

.product-item-style-list .bottom-intro {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  visibility: hidden;
}

.product-item-style-list:hover .bottom-intro {
  visibility: visible;
}

.product-item-style-list .bottom-intro div {
  border: 2px solid #ffb52f;
  color: #ffb52f;
  padding: 10px;
  transition: 0.3s;
  font-weight: bold;
}

.product-item-style-list .bottom-intro div:hover {
  background-color: #ffb52f;
  color: #ffffff;
}

.product-item-style-list .infor-product {
  padding: 15px;
}

.product-item-style-list .infor-product .name {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.product-item-style-list .infor-product .pricing {
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.product-item-style-list .infor-product .description {
  margin: 30px 0px;
  line-height: 1.5;
}

.product-item-style-list .infor-product .add-to-cart {
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #ffb52f;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: #333;
  transition: 0.3s;
}

.product-item-style-list .infor-product .add-to-cart:hover {
  background-color: #ffb52f;
  color: #ffffff;
}

.product-item-style-list .infor-product .add-to-cart .ti-shopping-cart {
  margin-right: 10px;
}

@media only screen and (max-width: 599px) {
  .product-item-style-list img {
    height: 500px;
  }

  .product-item-style-list .infor-product .description {
    font-size: 0.9rem;
  }

  .product-item-style-list .infor-product .add-to-cart {
    width: 100%;
  }

  .product-item-style-list .infor-product {
    padding: 10px;
  }

  .product-item-style-list .top-intro,
  .product-item-style-list .infor-product .name,
  .product-item-style-list .infor-product .pricing {
    font-size: 0.9rem;
  }
}
