.product-item {
  font-family: "Roboto Condensed", sans-serif;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 10px 10px;
  box-shadow: 0 2px 8px 0.5px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  padding: 10px;

  text-decoration: none;
  display: block;
  color: black;
}

.product-item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.product-img {
  display: block;
  width: 100%;
  max-width: 300px;
  height: 200px;
  margin: auto;
}

.product-item .intro-list {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  color: #9b9b9b;
  font-size: 0.9rem !important;
  font-weight: 600;
}

/* .product-item:hover .product-content-wrapper {
  height: 0;
  padding: 0;
} */

.product-item .product-content-wrapper {
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  overflow: hidden;
}

.product-item:hover .product-content-wrapper {
  display: none;
}

.product-item:hover .action-button-group {
  display: flex;
}

.color-dot-group {
  margin: 0px 2px 0px 0px;
  flex-grow: 1;
  width: 20px;
  height: 20px;
  padding: 0px;
}

.color-dot {
  width: 10px;
  height: 10px;
  background-color: black;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  outline: none;
}

.action-button-group {
  padding: 48px 10px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  display: none;
}

.action-button-group span {
  border: 1px solid #e8e8e8;
  padding: 10px;
  font-weight: bold;
}

.action-button-group span:hover {
  background-color: var(--primary-bg);
}
