.product-detail-page {
  font-family: "Roboto Condensed", sans-serif;
}

/* Carousel */
.product-detail-page .image-preview-container {
  margin-top: 50px;
}

.product-detail-page .image-preview-container .img-preview {
  width: 100%;
  opacity: 0.5;
  transition: 0.3s;
}

.product-detail-page .image-preview-container .img-preview.hightlight {
  opacity: 1;
}

/* Detail Content */
.product-detail-page .product-detail-content {
  margin-top: 50px;
}

.product-detail-page .product-detail-content h2 {
  color: #353535;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.product-detail-page .product-detail-content .quick-view-rating {
  display: flex;
  align-items: center;
}

.product-detail-page .product-detail-content .quick-view-rating p {
  font-size: 14px;
  font-style: normal;
  color: #333333;
}

.product-detail-page .product-price {
  margin: 2rem auto;
  font-family: "Courier New", Courier, monospace;
}

.product-detail-page .product-price span {
  color: #353535;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  margin-top: 2px;
  display: inline-block;
}

.product-detail-page .product-price span.un-hightlight {
  text-decoration: line-through;
  opacity: 0.5;
  margin: auto 15px;
  font-size: 1.4rem;
}

.product-detail-page .product-detail-content .sub-title {
  color: #333;
  display: block;
  font-size: 1.2rem;
  letter-spacing: 0.3px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  position: relative;
}

.product-detail-page .product-detail-content .sub-title::before {
  background-color: #9d9d9d;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 30px;
}

.product-detail-page .product-detail-content .product-color {
  margin: 31px 0 35px;
}
.color-container {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}

.color-container .color {
  margin: 5px;
  position: relative;
}

.color-container .out {
  /* cursor: pointer; */
  height: 1.75rem;
  width: 1.75rem;
  /* transition: 0.1s; */
  margin: 5px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.color-container .color .out.bg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.color-container .color .out.bg:hover {
  animation: boom 0.5s ease 0s 1 forwards;
}

@keyframes boom {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.color-container .out:hover {
  /* transform: scale(1.25); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.319), 0 6px 20px rgba(0, 0, 0, 0.299);
}
.color-container .out span {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.color-container .out span.half-width {
  width: 50%;
}

.product-detail-page .product-detail-content .product-action {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5px;
  height: 50px;
}

.product-detail-page .product-detail-content .product-action .btn-add-to-cart {
  background-color: #ffb52f;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  height: 100%;
  letter-spacing: 1px;
  line-height: 18px;
  border-radius: 5px;
  padding: 0 33px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out 0s;
}

.product-detail-page .product-detail-content .product-action .btn-add-to-cart:hover,
.product-detail-page .product-detail-content .product-action .btn-wish-list:hover {
  color: white;
  background-color: #001232;
}

.product-detail-page .product-detail-content .product-action .btn-wish-list {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  color: #727272;
  font-size: 22px;
  padding: 7px 18px 5px;
  margin: 0 10px;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
}

.product-detail-page .title {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

/* Specifications */
.product-detail-page .specifications .row {
  padding: 15px 0 0 0;
  border-bottom: 1px dashed gray;
}

.product-detail-page .specifications .column {
  width: 50%;
}
.product-detail-page .specifications .column.left {
  text-align: left;
  color: #333;
  font-weight: bold;
}
.product-detail-page .specifications .column.right {
  text-align: right;
}

/* Detail - markdown */
.product-detail-page .markdown-container {
  width: 100%;
  background-color: #ededed;
  min-height: 50%;
  padding: 10px 5px;
}

/* Comments */
.comment-container {
  margin-bottom: 10px;
}

.comment-user-avatar {
  display: block;
  float: left;
  width: 44px;
  height: 44px;
  background-size: 100% 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.comment-user-avatar img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
  height: 100%;
}

.comment-body {
  color: black;
  float: left;
  background-color: #ddd;
  padding: 5px 10px;
  width: calc(100% - 44px);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #d1d5da;
}

p.comment-title {
  margin-bottom: 0;
}

p.comment-title small {
  font-style: italic;
  float: right;
}

.clearFloat {
  clear: both;
}

/* More */
.warning-notfound-productdetail {
  width: 100%;
  height: 50vh;
  text-align: center;
  line-height: 50vh;
  color: red;
}
