.product-detail-page {
  font-family: "Roboto Condensed", sans-serif;
}

.product-detail-page .image-preview-container {
  margin-top: 50px;
}

.product-detail-page .image-preview-container .img-preview {
  width: 100%;
  opacity: 0.5;
  transition: 0.3s;
}

.product-detail-page .image-preview-container .img-preview.hightlight {
  opacity: 1;
}

.product-detail-page .carousel-container {
  position: relative;
}

.product-detail-page .carousel-container .btn-carousel {
  position: absolute;
  width: 35px;
  height: 35px;

  background-color: white;
  color: gray;

  top: 50%;
  transform: translateY(-50%) translateX(-50%);

  border: none;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 1.5em;

  transition: 0.3s;
  cursor: pointer;

  z-index: 3;
  outline: none;
}

.product-detail-page .carousel-container .btn-carousel:hover {
  background-color: #ffb52f;
  color: white;
}

.product-detail-page .product-detail-content {
  margin-top: 50px;
}

.product-detail-page .product-detail-content h2 {
  color: #353535;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.product-detail-page .product-detail-content .quick-view-rating {
  display: flex;
  align-items: center;
}

.product-detail-page .product-detail-content .quick-view-rating p {
  font-size: 14px;
  font-style: normal;
  color: #333333;
}

.product-detail-page .product-price span {
  color: #353535;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  margin-top: 2px;
  display: inline-block;
}

.product-detail-page .product-detail-content .sub-title {
  color: #333;
  display: block;
  font-size: 16px;
  letter-spacing: 0.3px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  position: relative;
}

.product-detail-page .product-detail-content .sub-title::before {
  background-color: #9d9d9d;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 30px;
}

.product-detail-page .product-detail-content .product-color {
  margin: 31px 0 35px;
}

.product-detail-page .product-detail-content ul {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}

.product-detail-page .product-detail-content .product-color > ul li {
  border-radius: 50px;
  cursor: pointer;
  display: block;
  height: 21px;
  width: 21px;
  margin-right: 15px;
  text-indent: -9999px;
  transition: 0.1s;
}

.product-detail-page .product-detail-content .product-color > ul li:hover {
  transform: scale(1.25);
}

.product-detail-page .product-detail-content .product-categories li {
  margin-right: 15px;
  display: block;
}

.product-detail-page .product-detail-content .product-categories li > a {
  color: #333;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
}

.product-detail-page .product-detail-content .product-categories li > a:hover {
  color: #ffb52f;
}

.product-detail-page .product-detail-content .product-action {
  display: flex;
  justify-content: flex-start;
  padding-top: 5px;
}

.product-detail-page .product-detail-content .product-action .cart-plus-minus {
  border: 1px solid #dcdcdc;
  overflow: hidden;
  padding: 12px 0 7px 5px;
  width: 80px;
  height: 46px;
}

.product-detail-page .product-detail-content .product-action .cart-plus-minus div {
  color: #727272;
  cursor: pointer;
  float: left;
  font-size: 16px;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  position: relative;
  text-align: center;
  width: 20px;
}

.product-detail-page .product-detail-content .product-action .cart-plus-minus input {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  float: left;
  font-size: 16px;
  height: 25px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 25px;
}

.product-detail-page .product-detail-content .product-action .btn-add-to-cart {
  background-color: #ffb52f;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  line-height: 18px;
  padding: 14px 33px 12px;
  text-transform: uppercase;
  border-radius: 0;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out 0s;
  margin: 0 30px;
}

.product-detail-page .product-detail-content .product-action .btn-add-to-cart:hover,
.product-detail-page .product-detail-content .product-action .btn-wish-list:hover {
  color: white;
  background-color: #001232;
}

.product-detail-page .product-detail-content .product-action .btn-wish-list {
  border: 1px solid #dcdcdc;
  color: #727272;
  font-size: 22px;
  padding: 7px 18px 5px;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
}
