@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,500;1,300;1,400&display=swap");

/* font-family: 'Roboto Condensed', sans-serif */
/* font-family: 'Megrim', cursive; */

:root {
  font-size: 16px;
  --primary-bg: #ffb52f;
  --secondary-bg: #001232;
}

* {
  box-sizing: border-box;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 1.2rem;
  font-family: "Muli", sans-serif;
}

:root::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

:root::-webkit-scrollbar-thumb {
  background-color: #001232;
}

.p-20 {
  padding: 20px;
}

.w-90 {
  width: 90%;
  margin: auto;
  padding: 20px 0px;
}

.MuiSnackbarContent-message {
  font-family: "Muli", sans-serif !important;
}

.MuiFormHelperText-root {
  font-family: "Muli", sans-serif !important;
}

.MuiDialogTitle-root > *,
.MuiDialogContent-root > *,
.MuiDialogActions-root > * {
  font-family: "Muli", sans-serif !important;
}

.MuiDialogActions-root .MuiButton-textPrimary {
  color: #001232;
  font-weight: bold;
}

.notfoundImg {
  width: 800px;
  height: 500px;
  margin: auto;
  display: block;
}

.input-range__label-container {
  font-family: "Muli", sans-serif !important;
}

.input-range__label--value .input-range__label-container {
  padding: 2px;
  display: none;
}

.input-range__slider {
  background-color: #2f80ed !important;
  width: 0.8rem !important;
  height: 0.8rem !important;
  border: 1px solid #2f80ed !important;
}

.input-range:hover .input-range__label-container {
  display: block;
}

.input-range .input-range__label--min,
.input-range__label--max {
  bottom: -1rem !important;
}

.input-range {
  margin: 15px 0px;
}

.MuiTypography-root {
  font-family: "Muli", sans-serif !important;
}

.MuiTableCell-root {
  font-family: "Muli", sans-serif !important;
  padding: 25px !important;
}

.MuiTableHead-root {
  background-color: #001232;
}

.MuiTableCell-head {
  color: #ffffff !important;
  font-weight: bold !important;
  font-size: 1.1rem !important;
}

.MuiTableCell-body {
  font-size: 1.1rem !important;
}

.container-layout-2 {
  min-height: calc(100vh - 390px);
}

.MuiSelect-select option {
  padding: 10px;
  font-size: 1.1rem;
}

@media only screen and (max-width: 780px) {
  .notfoundImg {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 400px) {
  .MuiTableCell-root {
    padding: 10px !important;
    font-size: 1rem !important;
  }
}
