@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Quicksand:400,500,600&display=swap&subset=vietnamese");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500&display=swap");

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Quicksand', sans-serif; */
/* font-family: 'Oswald', sans-serif; */

:root {
  font-size: 16px;
  --primary-bg: #ffb52f;
  --secondary-bg: #001232;
}

* {
  box-sizing: border-box;
}

:root::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

:root::-webkit-scrollbar-thumb {
  background-color: #001232;
}

.p-20 {
  padding: 20px;
}

.w-90 {
  width: 90%;
  margin: auto;
  padding: 20px 0px;
}

.MuiSnackbarContent-message {
  font-family: "Montserrat", sans-serif !important;
}

.MuiDialogTitle-root > *,
.MuiDialogContent-root > *,
.MuiDialogActions-root > * {
  font-family: "Montserrat", sans-serif !important;
}

.MuiDialogActions-root .MuiButton-textPrimary {
  color: #001232;
  font-weight: bold;
}

.notfoundImg {
  width: 800px;
  height: 500px;
  margin: auto;
  display: block;
}

@media only screen and (max-width: 780px) {
  .notfoundImg {
    width: 100%;
    height: auto;
  }
}
